mat-card{
    align-content: center;
    text-align: center;
    position: relative;
    width: 25rem; 
    /* justify-content: center; */
    left: 23rem;
    cursor: text;
  }

input{
    /* width: 5% */
}