mat-card{
    align-content: center;
    text-align: center;
    position: relative;
    width: 25rem; 
    /* justify-content: center; 
    left: 23rem; */
    margin: 0 auto;
    cursor: text;
  }

matInput{
    width: 100%
}