mat-card{
    color: black;
    width:75rem;
    height:25rem;
    left: 15rem;
    top: 3rem;
    cursor: text;
}
mat-card-header{
    color:indigo;
    font-weight: 900;
}
mat-panel-title{
    color:royalblue;
}
