mat-card{
    color: black;
    width:75%;
    text-align: center;
    cursor: text;
    margin: 0 auto;
}
mat-card-header{
    color:indigo;
    font-weight: 900;
}
mat-panel-title{
    color:royalblue;
}

mat-expansion-panel{
    margin-top: 1%
}