<app-header></app-header>
<mat-card>
    <mat-card-header>
      <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <mat-divider inset="true"></mat-divider>
    <mat-divider inset="true"></mat-divider>
      <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Business Bank
                </mat-panel-title>
              </mat-expansion-panel-header>
             <p>Business Bank is a leading private sector bank in India.The Bank’s consolidated total assets stood at Rs.30.50 trillion at June 30, 2019.
              <br>Business Bank currently has a network of 4,882 branches and 15,101 ATMs across India.</p> 
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  History
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Business Bank was originally promoted in 1994 by Business Limited, an Indian financial institution.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Business Group Companies
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Business Bank offers a wide range of banking products and financial services to corporate and retail customers through a variety of delivery channels and through its group companies.</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Board Of Directors
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Business Bank's Board members include eminent individuals with a wealth of experience in international business, management consulting, banking and financial services.</p>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Investor Relations
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Business Bank disseminates information on its operations and initiatives on a regular basis. The Business Bank website serves as a key investor awareness facility, allowing stakeholders to access information on Business Bank at their convenience. Business Bank's dedicated investor relations personnel play a proactive role in disseminating information to both analysts and investors and respond to specific queries.</p>
                          </mat-expansion-panel>
                          <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Awards
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>Time and again our innovative banking services has been recognized and rewarded world over.
                                    <br>
                                    Business Bank secured the top spot in the report – ‘The Forrester Banking Wave™: Indian Mobile Apps, Q2 2019’ with a combined score of 77, 13 points ahead of the next highest scoring bank. As per the report, Business Bank continues to excel at providing both a useful functionality and a superior user experience. The scores are given on the basis of an evaluation of the services offered by seven large retail banks in the country viz. Business Bank, Axis Bank, Bank of Baroda, HDFC Bank, Kotak Mahindra Bank, RBL Bank and State Bank of India.
Business Bank was awarded the Order-of-Merit at this year's SKOCH Innovation Awards for two projects. The awards are organised by Skoch Group that engages with Fortune-500 companies, state owned enterprises, Government, Small and Medium Enterprises (SMEs) and community-based organisations to publish research across areas.
                                </p>
                              </mat-expansion-panel>
          </mat-accordion>
</mat-card>