mat-card{
    color: black;
    width:50rem;
    cursor: text;
    margin: 0 auto;
    text-align: center
}

input {
    text-align: left;
}
mat-form-field{
    width: 50%;
    padding: 2%
}
button{
    text-align: center
}