<app-header></app-header>


<mat-card class="login-card" >
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
  <form #LoginForm="ngForm" (ngSubmit)="processLoginForm()">
    <mat-card-content style="display: inline-block">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" name="email" required  [(ngModel)]="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" name="password" type="password" required [(ngModel)]="password" >
        </mat-form-field>
        <br>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">submit</button>
        </mat-card-actions>
        <span >Not yet registered ? register <a [routerLink]="'/register'">here</a> </span>
      </mat-card-content>
  </form>
</mat-card>