<div style="display: inline-flexbox;">

  <app-customer-details [cust]="selectedCustomer"></app-customer-details>
  <mat-card>  
  <mat-card-header>
    <mat-card-title> Customers <mat-icon style="color:blue">people</mat-icon> </mat-card-title> 
    <mat-form-field  style="float: left; margin-left: 1%" appearance="outline" >
        <mat-label>Search</mat-label>
        <input matInput style="cursor: text" (keyup)="applyFilter($event.target.value)" >
      </mat-form-field> 
    </mat-card-header>
    
    <mat-card-content>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8"  matSort>
        <!-- Position Column -->
        <!-- <ng-container matColumnDef="serialNo">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let i = index;"> {{ i+1}} </mat-cell>
        </ng-container> -->
        
        <!-- Name Column -->
        <ng-container matColumnDef="CustomerId">
          <mat-header-cell *matHeaderCellDef  mat-sort-header> Customer Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.customer_id}} </mat-cell>
        </ng-container>
        
        <!-- Weight Column -->
        <ng-container matColumnDef="Name" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.first_name+" "+element.last_name}} </mat-cell>
        </ng-container>
        
        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef  mat-sort-header> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container> -->
        
        <ng-container matColumnDef="Status" >
          <mat-header-cell *matHeaderCellDef  mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"  [style.color]="element.customer_status === 1 ? 'green' : 'red'" >
            {{element.customer_status === 1 ? "ACTIVE" : "INACTIVE"}} 
          </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"></mat-row>
  </mat-table>
</mat-card-content>

    


<mat-paginator [pageSizeOptions]="[5, 7 , 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>

</div>