mat-card{
    align-content:flex-end;
    text-align: center;
    position: relative;
    /* width: 35rem;  */
    /* left: 5rem;
    top: 5rem; */
    width: 60%;
    margin-top: 1%;
    margin: 3 8 auto;
    justify-content: space-between;
  }
  
  .card-container { 
    
    background:darkgray;
    padding: 10px;
    color:black;
    width: 500px;  
    display: flex;
    justify-content: space-between;
  }
  ng-container{
    margin-left: 10rem;
  }
  mat-table{
    width: 100%;
  }

  mat-cell{
    cursor: pointer;
  }

  mat-form-field {
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
  }
  app-customer-details{
    margin-left: 63%;
    /* margin-bottom:  -68%; */
    /* margin-top: 123% */
    padding-top: 123%
  }