mat-card{
    align-content:flex-end;
    text-align: center;
    position: relative;
    width: 35rem; 
    /* left: 5rem;
    top: 5rem; */
    margin: 3 8 auto;
    cursor: pointer;
  }
  .card-container { 
    
    background:darkgray;
    padding: 10px;
    color:black;
    width: 500px;  
    display: flex;
    justify-content: space-between;
  }