.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
}

.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
mat-button{
    padding-right: 1rem;
}
h1{
    cursor: pointer;
}
.logo{
    height: 7%;
    width: 7%;
}