<mat-toolbar  color="primary" class="navbar navbar-header">
    <mat-toolbar-row>
      <button mat-icon-button>
        <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
      </button>
      <h1  style="font-family: 'Merriweather', serif;" >
          <span [routerLink]="''"><img [src]="LOGO" title="Business Bank" class="logo" alt="x"/></span>
        Iron Bank Of Braavos</h1>
      <span class="menu-spacer"></span>
      <div fxFlex  fxLayoutAlign="end" fxHide.xs> 
        <!-- <a mat-button [routerLink]="'/accounts'"> Accounts </a> -->
        <!-- <a mat-button [routerLink]="'/create-account'"> Create Account </a> -->
        <!-- <a mat-button [routerLink]="'/contacts'"> Contacts </a> -->
        <button mat-button [routerLink]="'/contacts'">  Contact </button>
        <button mat-button [routerLink]="'/about'"> About </button>
        <button mat-button *ngIf="userType!=='bank'" [routerLink]="'/register'">Register </button>
        <span class="menu-spacer"></span>
        <span class="menu-spacer"></span>
        <span class="menu-spacer"></span>
            <button  *ngIf="!isLoggedIn;"  mat-button [routerLink]="'/login'"> Login </button>
            <button mat-button *ngIf="isLoggedIn;"  (click)="logout()"> Logout </button>
          
          
          
        <!-- <button mat-button [routerLink]="'/login'"> Login </button> -->

      </div>
    </mat-toolbar-row>
  </mat-toolbar>