<mat-card *ngIf="cust"><br>
  <h2> Details</h2>
  <mat-divider inset="true"></mat-divider>
    <mat-list role="list"  >
        <mat-list-item role="listitem" ><b>Customer_id:</b> {{cust.customer_id}}</mat-list-item>
        <mat-list-item role="listitem"><b>Name:</b> {{cust.first_name+" "+cust.last_name}}</mat-list-item>
        <mat-list-item role="listitem"><b>Mobile no:</b> {{cust.mobile_no}}</mat-list-item>
        <mat-list-item role="listitem"><b>Email:</b> {{cust.email}}</mat-list-item>
        <mat-list-item role="listitem"><b>State:</b> {{cust.state}}</mat-list-item>
        <mat-list-item role="listitem"><b>Number of Accounts: </b> 2</mat-list-item>
      </mat-list>
      <button mat-flat-button color="primary" type="submit">Activate Account</button> &nbsp;&nbsp;&nbsp;
      <button mat-flat-button color="warn" type="submit" style="margin-left: 0.75%" >Deactivate Account</button>
</mat-card>