mat-tab-group{
    color: black;
    text-align: left;
}
mat-card{
    font-size: 10px;
    color: black;
    width:50rem;
    /* justify-content: center; */
    margin: 0 auto;
    cursor: text;
    /* margin-bottom: 2% */
}
table {
    width: 100%;
  }

.paginator{
    /* width:50rem; */
   
    /* margin: 0 auto; */
}