<mat-card class="" >
        <mat-card-header>
          <mat-card-title>Transaction Summary 
              <span *ngIf="userType === 'customer'"> of {{customerData.first_name+" "+ customerData.last_name}} </span>
              <span *ngIf="userType === 'bank'"> of Customers </span>
        </mat-card-title>
        </mat-card-header>
<mat-tab-group>
  <mat-tab label="All Transactions"><br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center" matSort>
    <!-- <ng-container matColumnDef="serialNo">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef=" let i = index;"> {{i+1}} </td>
    </ng-container> -->
    <ng-container matColumnDef="TransactionId">
        <th mat-header-cell *matHeaderCellDef>Transaction Id</th>
        <td mat-cell *matCellDef="let trans"> {{trans.transaction_id}} </td>
    </ng-container>
    <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let trans"> {{trans.creation_date | date:'M/d/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef> From Account </th>
        <td mat-cell *matCellDef="let trans"> {{trans.from_account_number}} </td>
    </ng-container>
    <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef> To Account </th>
        <td mat-cell *matCellDef="let trans"> {{trans.to_account_number}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let trans"> {{trans.amount | currency:'INR'}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let trans"> {{trans.transaction_type}} </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  </mat-tab>

  <!-- <mat-tab label="Transfer">
     
        <table mat-table [dataSource]="trans" class="mat-elevation-z8" align="center">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let t"> {{t.id}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let t"> {{t.date}} </td>
        </ng-container>
        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef> From Account </th>
            <td mat-cell *matCellDef="let t"> {{t.from}} </td>
        </ng-container>
        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef> To Account </th>
            <td mat-cell *matCellDef="let t"> {{t.to}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let t"> {{t.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let t"> {{t.type}} </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
  </mat-tab>
  <mat-tab label="Withdrawl">

        <table mat-table [dataSource]="trans" class="mat-elevation-z8" align="center">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let t"> {{t.id}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let t"> {{t.date}} </td>
        </ng-container>
        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef> From Account </th>
            <td mat-cell *matCellDef="let t"> {{t.from}} </td>
        </ng-container>
        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef> To Account </th>
            <td mat-cell *matCellDef="let t"> {{t.to}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let t"> {{t.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let t"> {{t.type}} </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
  </mat-tab>
   -->
</mat-tab-group>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>