<mat-sidenav-container *ngIf="isLoggedIn" >
    <!-- mode can be push | side | over -->
    <mat-sidenav #sideNav mode="side"  [(opened)]="opened" >
        <h4 style="text-align: center">Actions Menu</h4>
        <mat-divider style="color: rgb(255, 255, 255)"></mat-divider>
        <mat-nav-list>
            <a mat-list-item (click)="displayComponent(item.title)" [ngClass]="{'active': comp === item.title}"  *ngFor="let item of nav_items">  
                <!-- configure icons here -->
                <mat-icon  [ngClass]="{'icon': comp === item.title}">{{item.icon}}</mat-icon> 
                <span style="margin-left:2%">{{item.title}}</span> 
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
            <button mat-mini-fab class="toggleSideNavButton" (click)="opened=!opened"  disableRipple>
                <mat-icon *ngIf="opened; else closed;">keyboard_arrow_left</mat-icon>
                <ng-template #closed><mat-icon>keyboard_arrow_right</mat-icon></ng-template>
            </button>
            <!-- TODO: add icon for each nav item -->
            <!-- <ng-template #selectedComp> <p>Display : {{comp}}</p> </ng-template> -->
            <app-dashboard *ngIf="comp==='Dashboard'" ></app-dashboard>
            <app-customer-profile  *ngIf="comp==='Profile'" ></app-customer-profile>
            <app-change-password *ngIf="comp==='ChangePassword'"></app-change-password>
            <app-accounts *ngIf="comp==='Accounts'"></app-accounts>
            <app-transfer *ngIf="comp==='Transfer'"></app-transfer>
            <app-transaction-summary *ngIf="comp==='TransactionSummary' || comp==='All Transactions'"></app-transaction-summary>
            <app-customer-requests *ngIf="comp==='Customer Requests'"></app-customer-requests>
            <app-customer-accounts *ngIf="comp==='Customer Accounts'"></app-customer-accounts>
            <app-faqs *ngIf="comp==='FAQs'"></app-faqs>
    </mat-sidenav-content>
</mat-sidenav-container>