
<mat-card class="profile-card" >
    <mat-card-header>
      <mat-card-title> Your Details With Bank</mat-card-title>
    </mat-card-header>
    <mat-divider inset="true"></mat-divider> <br>
    <form #RegisterForm="ngForm" (ngSubmit)="processUpdateForm()">
        <mat-card-content>
            <mat-form-field appearance="outline" *ngIf="userType==='customer'">
                <mat-label>  Customer ID</mat-label>
                <input matInput [(ngModel)]="userDetails.customer_id" name="customer_id" type="text" required disabled>
              </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="userType==='bank'">
                <mat-label>  Employee ID</mat-label>
                <input matInput [(ngModel)]="userDetails.employee_id" name="employee_id" type="text" required disabled>
              </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>  First Name</mat-label>
              <input matInput [(ngModel)]="userDetails.first_name" name="first_name" type="text" required [disabled]="!enableEdit" >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last  Name</mat-label>
              <input matInput [(ngModel)]="userDetails.last_name" name="last_name" type="text" required [disabled]="!enableEdit" >
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="userDetails.email" name="email" type="text" required [disabled]="!enableEdit" >
            </mat-form-field>
            <div *ngIf="userType === 'bank'">
                <mat-form-field  appearance="outline">
                    <mat-label>Employee Designation</mat-label>
                    <input matInput [(ngModel)]="userDetails.employee_role"  name="employee_role" type="text" required disabled >
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label>Job Start Date</mat-label>
                    <input matInput [(ngModel)]="userDetails.job_start_date"  name="job_start_date" type="text" required disabled >
                </mat-form-field>
  
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Mobile No.</mat-label>
              <input matInput [(ngModel)]="userDetails.mobile_no" name="mobile_no" type="text" required [disabled]="!enableEdit" >
            </mat-form-field>
            <mat-divider [inset]="true"></mat-divider>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Aadhar Card</mat-label>
                <input matInput [(ngModel)]="userDetails.aadhaar_card" name="aadhaar_card" type="text" required [disabled]="!enableEdit" >
            </mat-form-field> 
            <mat-form-field appearance="outline">
                <mat-label>Pan Card</mat-label>
                <input matInput [(ngModel)]="userDetails.pan_card" name="pan_card" type="text" required [disabled]="!enableEdit" >
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Passport</mat-label>
                  <input matInput [(ngModel)]="userDetails.passport" name="passport" type="text" required [disabled]="!enableEdit" >
              </mat-form-field>
              <mat-divider [inset]="true"></mat-divider>
              <br>
              <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput [(ngModel)]="userDetails.house_no" name="house_no" type="text" required [disabled]="!enableEdit" >
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Street</mat-label>
                  <input matInput [(ngModel)]="userDetails.street" name="street" type="text" required [disabled]="!enableEdit" >
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>District</mat-label>
                  <input matInput [(ngModel)]="userDetails.district" name="district" type="text" required [disabled]="!enableEdit" >
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <input matInput [(ngModel)]="userDetails.state" name="state" type="text" required [disabled]="!enableEdit" >
              </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-flat-button color="primary" type="button" [hidden]="toggleEditSaveButton" (click)="enableEditing() ">Edit<mat-icon>edit</mat-icon></button>
          <button mat-flat-button color="primary" type="submit" [hidden]="!toggleEditSaveButton" >Save</button>
        </mat-card-actions>        
    </form>
</mat-card>
           