/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }
body { margin: 0;
  /* background: linear-gradient(to right, #457fca, #5691c8);  */
  background: linear-gradient(to right, #D7DDE8, #D7DDE8); 
  /* background-color: #044767; */
  /* background-color: #b1acbb; */
  /* background: linear-gradient(to right, #044767,#044767);  */
 }

*{
    font-family: 'Merriweather', serif;   
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}