<app-header></app-header>
<mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title style="text-align: center"> Register Yourself here</mat-card-title>
    </mat-card-header>
    <mat-divider inset="true"></mat-divider><br>
    <form #RegisterForm="ngForm" (ngSubmit)="processRegisterForm()">
        <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>  First Name</mat-label>
              <input matInput  name="first_name" type="text" required  >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last  Name</mat-label>
              <input matInput  name="last_name" type="text" required  >
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput  name="email" type="text" required  >
            </mat-form-field>
            <div *ngIf="userType === 'bank'">
                <mat-form-field  appearance="outline">
                    <mat-label>Employee ID</mat-label>
                    <input matInput   name="employee_id" type="text" required  >
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label>Employee Designation</mat-label>
                    <input matInput   name="employee_role" type="text" required  >
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label>Job Start Date</mat-label>
                    <input matInput   name="job_start_date" type="text" required  >
                </mat-form-field>
  
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Mobile No.</mat-label>
              <input matInput  name="mobile_no" type="text" required  >
            </mat-form-field>
            <mat-divider [inset]="true"></mat-divider>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Aadhar Card</mat-label>
                <input matInput  name="aadhaar_card" type="text" required  >
            </mat-form-field> 
            <mat-form-field appearance="outline">
                <mat-label>Pan Card</mat-label>
                <input matInput  name="pan_card" type="text" required  >
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Passport</mat-label>
                  <input matInput  name="passport" type="text" required  >
              </mat-form-field>
              <mat-divider [inset]="true"></mat-divider>
              <br>
              <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput  name="house_no" type="text" required  >
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Street</mat-label>
                  <input matInput  name="street" type="text" required  >
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>District</mat-label>
                  <input matInput  name="district" type="text" required  >
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <input matInput  name="state" type="text" required  >
              </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="center">
          
          <button mat-flat-button color="primary" type="submit"  >Save</button>
        </mat-card-actions>        
    </form>
</mat-card>
           